@import url("./variables.css");

body {
  margin: 0;
  font-family: "open-sans-regular" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: var(--default-letter-spacing);
  line-height: var(--default-line-height);
  background-color: var(--content-background-color);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  color: var(--black);
}

table,
td,
tr,
th {
  border: 0;
  border-spacing: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

.w-max-content {
  width: max-content;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 78px; /* Stay at the top */
  left: 0;
  background-color: #fbfcfd;
  color: var(--sidenav-color);
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  padding-top: 40px;
}

.sidebar-items {
  height: calc(100% - 100px) !important;
  padding-top: 28px;
}

/* .sidebar-items li {
  margin: 20px 0 !important;
} */

.sidebar-items a {
  padding: 0 60px !important;
}

/* The navigation menu links */
.sidenav a {
  padding: 20px 60px !important;
  text-decoration: none;
  font-size: 15px;
  color: cadetblue;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: rgb(13, 71, 73);
}

/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.fixed-top {
  position: fixed;
  top: 78px;
  right: 0;
  left: 250px;
  z-index: 5;
  background-color: #fbfcfd;
  padding: 15px 0;
  min-height: 69px !important;
}

.fixed-top-header {
  background: #4b6262;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1030;
  padding: 15px 0;
}

.react-datepicker__input-container input {
  font-size: 12px;
}

.top-heading {
  font-size: 18px;
  color: #e3ecec;
  margin: 0;
}

.task-bshadow {
  box-shadow: 0px 0px 4px -1px #b3b1b3 !important;
}

.fa-circle-chevron-down {
  color: #e3ecec;
  font-size: 18px;
  margin-right: 5px;
}

.btn-sm-date {
  padding: 0 2px;
  font-size: 12px;
  height: 32px;
}

.fa-filter {
  font-size: 28px;
  color: #4b6262;
}

.dash-card-footer {
  background-color: #4b6262 !important;
}

.dash-card {
  border: 1px solid #4b6262 !important;
  width: 250px !important;
}

.dash-card .card-body {
  padding: 60px 10px;
}

.card-body-icon i {
  font-size: 22px;
}

.card-body-text {
  font-size: 20px;
}

.dash-card-body * {
  color: #bcc3d3 !important;
}

.dash-card-body .dark {
  color: #87949a !important;
}

.dash-card-body p {
  font-size: 13px;
}

.dash-card-body .card-subtitle {
  font-size: 11px;
  color: white !important;
}

.dash-card-body i {
  font-size: 11px;
  color: white !important;
}

.task-card-border {
  border: 1px solid #dee2e6;
  background-color: #fbfcfd !important;
  box-shadow: 0px 0px 4px -1px #b3b1b3 !important;
}

.task-card-border .card-body {
  padding: 10px !important;
}

.task-card-border .card-body .card-title {
  font-size: 14px;
  font-weight: 600;
  color: #67757c !important;
}

.badge {
  padding: 0.1em 0.65em !important;
}
.dash-card-body .card-subtitle.bg-success {
  background-color: rgba(10 221 123 / 81%) !important;
}

.dash-card-body .card-subtitle.bg-danger {
  background-color: #fff4e4 !important;
  border-color: #fff4e4 !important;
  color: #ff9041 !important;
}

@media screen and (max-width: 770px) {
  .main {
    margin-left: 0px; /* Same as the width of the sidebar */
  }

  .fixed-top {
    left: 0px;
  }

  .fixed-bottom-dropdown {
    display: none !important;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 0px;
  }
  .sidenav a {
    font-size: 15px;
  }
}

.content-container {
  padding-left: 3.75rem;
  margin-top: 140px;
  overflow: hidden;
}

.not-found-top {
  padding-top: 120px;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8d5d5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "open-sans-regular";
  line-height: 22px !important;
}

p,
span,
a {
  font-family: "open-sans-regular";
  line-height: 22px !important;
}

.sidenav p.bold,
.sidenav span.bold,
.sidenav a.bold {
  font-family: "open-sans-regular";
  line-height: 22px !important;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

.page-heading {
  font-size: 20px;
  color: #e3ecec;
  margin-left: 20px !important;
}

.bell-anchor {
  padding: 10px 25px;
  margin: 0 25px;
  border-left: 1px solid #e3ecec;
}

.bell-anchor i {
  font-size: 20px;
  color: #e3ecec;
}

p {
  font-size: 14px;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  outline: 0;
  box-shadow: unset !important;
}

.form-control::placeholder {
  color: var(--grey);
}

button:focus {
  outline: 0 !important;
  box-shadow: unset !important;
}

/* sidebar  */

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.sidenav .btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-weight: normal;
  color: var(--sidenav-active-color);
  background-color: transparent;
  border: 0;
  font-family: var(--sidenav-active-font);
  letter-spacing: 0.03em;
  font-size: 15px;
}

.sidenav .btn-toggle.collapsed {
  font-family: var(--sidenav-normal-font);
  color: var(--sidenav-color);
}

.sidenav .btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: ">" !important;
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
  color: var(--sidenav-color);
}

.sidenav .btn-toggle:hover,
.sidenav .btn-toggle:focus {
  font-family: var(--default-font-semibold);
  background-color: #d2f4ea;
}

.sidenav .btn-toggle[aria-expanded="true"] {
  color: var(--sidenav-active-color);
}
.sidenav .btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.sidenav .btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.sidenav .btn-toggle-nav a:hover,
.sidenav .btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.sidenav .btn-toggle-nav a:hover,
.sidenav .btn-toggle-nav a:focus {
  color: var(--sidenav-active-color);
  font-family: var(--sidenav-active-font);
}

.sidenav .active {
  color: rgb(13, 71, 73);
  font-family: var(--sidenav-active-font);
  padding: 20px 60px !important;
  background-color: #e3ecec;
  border-right: 3px solid #ed9d0b;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}
.lh-tight {
  line-height: 1.25;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: transparent !important;
}

.sidenav .btn-toggle:hover,
.sidenav .btn-toggle:focus {
  color: var(--sidenav-active-color);
  background-color: transparent !important;
}

.recharts-cartesian-axis-ticks {
  display: block !important;
}

text[orientation="left"] {
  display: none !important;
}
/* .sidenav a:hover {
  font-family: var(--sidenav-active-font);
} */

.fixed-bottom-dropdown {
  font-weight: normal !important;
  margin-bottom: 0px;
  width: max-content;
  padding: 13px 5px;
}

.recharts-wrapper {
  margin: 50px auto 0 auto;
}

.fixed-bottom-dropdown span {
  color: #e3ecec;
}

.fixed-bottom-dropdown a {
  color: #4b6262;
}

.fixed-bottom-dropdown a:hover {
  color: #4b6262;
}

.sidebar-items a {
  font-family: var(--sidenav-normal-font);
  color: cadetblue;
  font-size: 15px;
  letter-spacing: 0.03em;
}

.sidenav .fixed-bottom-dropdown a {
  font-family: var(--default-font-regular);
  color: var(--sidenav-color);
  font-size: 15px;
  font-weight: normal !important;
}

.sidenav .fixed-bottom-dropdown .dropdown-item {
  color: var(--theme-color) !important;
}

.sidenav .btn-toggle-nav a {
  margin-left: 0.5rem !important;
}

.form-label {
  font-family: var(--default-font-semibold);
  color: var(--bs-gray);
}

input::placeholder {
  font-family: var(--default-font-regular);
  font-weight: normal !important;
}

button {
  font-family: var(--default-font-regular);
}

.text-gray-italic {
  color: var(--grey) !important;
  font-size: 12px;
  font-family: var(--default-font-light-italic);
}

.text-gray {
  color: var(--grey) !important;
  font-size: 12px;
  font-family: var(--default-font-regular);
}

.sidenav .dropdown-item.active,
.dropdown-item:active {
  background-color: transparent !important;
}

.sidenav .dropdown-item:hover,
.dropdown-item:focus {
  color: var(--theme-color);
  background-color: transparent !important;
  font-family: var(--sidenav-active-font) !important;
}

.btn-success {
  background-color: var(--green-normal) !important;
}

.btn-success:hover {
  background-color: var(--green-dark) !important;
}

.btn-danger {
  background-color: var(--red-normal) !important;
}

.btn-danger:hover {
  background-color: var(--red-dark) !important;
}

.btn-primary {
  background-color: var(--blue-normal) !important;
}

.btn-default {
  background-color: var(--secondary-color) !important;
  color: var(--white);
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background-color: var(--secondary-color-dark) !important;
  color: var(--white);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--blue-dark) !important;
}

.bg-body h6 {
  color: #4b6262;
  font-weight: 700;
}

.text-default {
  color: var(--theme-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.m-t-85 {
  margin-top: 40px;
}

.task-table-head {
  background-color: #4b6262;
}

.task-table-head th {
  color: #e3ecec;
}

.task-container h6 {
  color: #4b6262;
  font-weight: 700;
}

.list-group .active,
.list-group a:hover {
  color: cadetblue !important;
}

.react-datepicker-popper {
  z-index: 9999;
}
/* modals */

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 400px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
  left: 0px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: 0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #eeeeee;
  background-color: var(--theme-color);
  color: var(--white);
  border-radius: 0;
}

.modal-header .btn-close {
  background: transparent !important;
  color: var(--secondary-color);
  font-size: 22px;
}

/* page loading canvas */

.loading-page {
  width: 100%;
  height: 100vh;
  background-color: #4b6262;
}
.loading-page .center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 47%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
}

/* table */

.table {
  border-collapse: separate;
  border-spacing: 0;
  background-color: #fff;
  width: 100%;
  max-width: 100%;
  border-top: 0.2rem solid #d8dbe0;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 0.8rem;
  line-height: 1.42857143;
}

table thead th {
  font-size: 0.9rem;
  font-family: var(--default-font-semibold);
  text-align: left;
  padding-bottom: 5px;
}

.table > thead > tr > th {
  border-bottom: 0.12rem solid #f2f2f2;
  border-bottom-color: #f2f2f2 !important;
}

table tbody td {
  font-size: 0.9rem;
}

table tbody tr:focus-within,
table tbody tr:hover {
  background-color: #f5f5f5;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th {
  border-top: 0.1rem solid #ebedef;
}

.table-action-dropdown .dropdown-toggle {
  background: transparent;
  color: var(--theme-color);
  border: none;
  border-radius: 12px;
}

.table-action-dropdown .dropdown-toggle:hover,
.table-action-dropdown .dropdown-toggle:focus {
  background: var(--theme-color);
  color: #fff;
  border-radius: 12px;
}

.table-action-dropdown .dropdown-toggle::after {
  content: none;
}

.table-action-dropdown .dropdown-item {
  color: var(--theme-color);
}

.table-action-dropdown .dropdown-item:hover,
.table-action-dropdown .dropdown-item:focus {
  background: transparent;
  font-family: var(--default-font-semibold);
}

.table-bottom-center-pagination {
  text-align: center !important;
}

.table-bottom-center-pagination .pagination {
  display: inline-flex !important;
}

.table-bottom-center-pagination .pagination .page-link {
  color: var(--theme-color);
}

.table-bottom-center-pagination .pagination .page-link:hover,
.table-bottom-center-pagination .pagination .page-link:focus {
  color: var(--secondary-color);
  background: var(--theme-color);
}

.table-container {
  margin-top: 10px !important;
  display: inline-block;
}

.low-height-btn {
  line-height: 0.9 !important;
  display: inline;
}

.highlighted-text {
  color: var(--secondary-color) !important;
}

.text-right {
  text-align: right !important;
}

.modal-footer {
  padding: 0.4rem 0.75rem !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background: var(--light-grey);
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 15px;
}
